body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: left;
  color: dodgerblue;
}
img {
  max-width: 110px;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 0%;
}
li {
  list-style: none;
}
